{% extends 'blog/base.html' %}
{% block content %}
    <div class="date">
        {% if post.published_date %}
            {{ post.published_date }}
        {% endif %}
    </div>
    <h1>{{ post.title }}</h1>
    <p>{{ post.text }}</p>

    <hr/>
    <h2>Comments</h2>
    {% for comment in comments %}
        <div class="comment">
            <p>published: {{ comment.published_date }} / by: {{ comment.author }}</p>
            <p style="white-space: pre-line">{{ comment.text }}</p>
        </div>
        <hr/>
    {% endfor %}
    <hr/>
    <h3>Leave a comment</h3>
    <form method="POST" class="form" action="{% url 'blog:do_comment' %}">
        <p class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required class="form-control">
        </p>
        <p class="form-group">
            <label for="content">Content</label>
            <textarea name="content" id="content" class="form-control"></textarea>
        </p>
        <p>
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ post.pk }}"/>
            <button type="submit" class="btn btn-warning">Comment</button>
        </p>
    </form>
{% endblock %}